
<!-- Navigation -->
<nav class="navbar dupree navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">

      <div class="">
        <a class="navbar-brand" href="#">
          {{title1}}
        </a>

        <!--<span style="color:green;">$</span>-->

        <!--<div class="console">-->
          <!--<span id="typer"></span>-->
        <!--</div>-->

      </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link home" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item about">
                    <a class="nav-link about" href="/about">About</a>
                </li>
                <li class="nav-item projects">
                    <a class="nav-link projects" href="/projects">Projects</a>
                </li>
                <li class="nav-item gallery">
                    <a class="nav-link gallery" href="/gallery">Gallery</a>
                </li>
                <li class="nav-item contact">
                    <a class="nav-link contact" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>