<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{ tab_title }}</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <script src="js/handlebars-v4.0.11.js"></script>

  <!-- Custom styles for this template -->
  <link href="css/full-slider.css" rel="stylesheet">
  <link href="css/spinner.css" rel="stylesheet">
  <link href="css/custom.css" rel="stylesheet">
  <link href="css/typewriter.css" rel="stylesheet">
  <link href="css/type_code_format.css" rel="stylesheet">


</head>

<body class="loading">

{{{ body }}}

<!--Loading Spinner-->
<div class="modal"></div>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="vendor/jquery-match-height/jquery.matchHeight.js" type="text/javascript"></script>

<script src="js/gallery.js"></script>
<script src="js/menu.js"></script>
<script src="js/footer.js"></script>
<script src="js/spinner.js"></script>
<script src="typewriter.js"></script>

<!--TODO find a better way to load the page specific JS files-->
<script src="js/projects.js"></script>

<script>
  Handlebars.registerHelper("log", function(something) {
    console.log('logging');
    console.log(something);
  });
</script>
</body>

</html>
