
{{> nav }}

<!-- Page Content -->
<section class="py-5">
  <div class="container no-header">
    <!--<h1>My name is Michael Dupree.</h1>-->
    <!--<p>I am a Software developer based out of Kelowna, B.C, Canada.<br>-->

      <!--I currently work as a Web developer. I working with languages like PHP, Javascript, Java.-->
      <!--I consider myself a backend developer with some front end experience but would'nt consider myself-->
      <!--to be a full stack developer.<br>-->
      <!--I also enjoy building projects from working on cars and trucks to building raspberry pi controlled helicopters.-->

    <!--</p>-->

    <canvas id="radarChart"></canvas>
    <h1>{{num1}}</h1>
    <script src="/vendor/Chart.js"></script>
    <script>
      //radar
      var ctxR = document.getElementById("radarChart").getContext('2d');
      var myRadarChart = new Chart(ctxR, {
        type: 'radar',
        data: {
          labels: ["PHP", "JS", "JAVA", "PYTHON", "UNIX", "Design", "COFFEE"],
          datasets: [
            {
              label: "My Skills",
              fillColor: "rgba(220,220,220,0.2)",
              strokeColor: "rgba(220,220,220,1)",
              pointColor: "rgba(220,220,220,1)",
              pointStrokeColor: "#fff",
              pointHighlightFill: "#fff",
              pointHighlightStroke: "rgba(220,220,220,1)",
              data: [70, 50, 50, 10, 75, 30, 100]
            },
            // {
            //   label: "My Second dataset",
            //   fillColor: "rgba(151,187,205,0.2)",
            //   strokeColor: "rgba(151,187,205,1)",
            //   pointColor: "rgba(151,187,205,1)",
            //   pointStrokeColor: "#fff",
            //   pointHighlightFill: "#fff",
            //   pointHighlightStroke: "rgba(151,187,205,1)",
            //   data: [28, 48, 40, 19, 96, 27, 100]
            // }
          ]
        },
        options: {
          responsive: true
        }
      });
    </script>
  </div>
</section>

{{> footer}}