
{{> nav }}

<!-- Page Content -->
<section class="py-5">

  <div class="container no-header">
    <h1>Email me at <a href="mailto:mike@dupree.ca">mike@dupree.ca</a></h1>

    <pre id="typewriter">
      <span class="var-highlight">var</span><span class="var-name-highlight"> Person </span>= {
      name: <span class="string-highlight">'Mike Dupree'</span>,
      jobTitle: <span class="string-highlight">'Software developer'</span>,
      location: <span class="string-highlight">'Earth'</span>,
      code:[<span class="string-highlight">'Javascript'</span>,
      <span class="string-highlight">'PHP'</span>,
      <span class="string-highlight">'Java'</span>
      <span class="string-highlight">'C#'</span>];

      haveWorkedWith:[
      <span class="string-highlight">'NodeJS'</span>,
      <span class="string-highlight">'Drupal'</span>,
      <span class="string-highlight">'MySQL/MariaDB/MongoDB'</span>,
      <span class="string-highlight">'NGINX'</span>,
      <span class="string-highlight">'Apache'</span>];
      };
    </pre>
  </div>

</section>

{{> footer}}