
{{> nav }}

<!-- Page Content -->
<div class="container no-header">
  {{log 'test'}}
  {{log 'hello'}}
  {{log gallery.0.path}}

  <h1 class="my-4 text-center text-lg-left">Thumbnail Gallery</h1>


  </div>
  <div class="row text-center text-lg-left">

    {{#each gallery}}
      <!--<li>test {{this.path}}</li>-->
      <div class="col-lg-3 col-md-4 col-xs-6">
        <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="{{this.path}}" alt="">
        </a>
      </div>
    {{/each}}

  </div>
<!-- /.container -->

{{> footer}}