
{{> nav }}

<!--Header Slider images-->
{{> header}}

<!-- Page Content -->
<section class="py-5">
    <div class="container">
        <h1>Welcome to my site.</h1>
        <p>I am a Software developer based out of Kelowna, B.C, Canada.<br>
        There's nothing more interesting to me then technology, anything from how it works to how was it programmed to run.<br>
        my main programming language is PHP, and JS. But I have also worked with Java, C, C++, Python.
        I have enjoyed making projects that run in the NodeJS runtime environment.</p>
    </div>
</section>

{{> footer}}