
{{> nav }}

<!-- Page Content -->
<div class="container no-header">

  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-3">Projects</h1>

    <p class="lead">Here you can find my current projects. Pulled from Gitlab using the API so this is ALWAYS up to date.
      Showing all my public projects.</p>

    <a href="https://gitlab.com/users/mikedupree/projects" class="btn btn-primary btn-lg">View all my projects!</a>
  </header>

  <div class="row text-center">

      {{#each projects}}
        <div class="col-lg-3 col-md-6 mb-4 project-card match-height">
          <div class="card" style="height:100%;">

            <div class="card-image-box" style="height: 150px; overflow: hidden">
                <img class="card-img-top card-img" src="{{this.avatar}}" height="" alt="">
            </div>

            <div class="card-body">
              <h4 class="card-title">{{this.name}}</h4>
              <p class="card-text">{{this.description}}</p>
            </div>

            <div>
              Last commit: <a href="#" class="badge badge-info">{{this.lastActive}}</a>
            </div>

            <div class="card-footer">
              <a href="{{this.url}}" class="btn btn-primary">See on Gitlab.</a>
            </div>
          </div>
        </div>
      {{/each}}

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->

{{> footer }}