.no-header {
  margin-top: 80px;
}

footer.sticky{
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.navbar-brand.dupree{
  width: 200px;

}

.console{
  display: inline-block;
  color: green;
}

.console-screen {
  background-color: black;
  padding-left: 15px;
  width: 300px;
}
.console-screen a {
  color:#5b6167!important;
}