.var-highlight {
  color: #c0004a;
}
.var-name-highlight {
  color: #2173c0;
}
.string-highlight {
  color: rgba(253, 192, 0, 0.8);
}

#typewriter {
  font-size: 2em;
  margin: 0;
  font-family: "Courier New";
}
#typewriter:after {
  content: "|";
  -webkit-animation: blink 500ms linear infinite alternate;
  animation: blink 500ms linear infinite alternate;
}

/*.code {*/
  /*color: white;*/
  /*background-color: black;*/
  /*border: 3px solid grey;*/
  /*margin: 15px;*/
/*}*/

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}